/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/dump/backup__*
.env
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.bash_history
/.cache
.rnd
.idea/workspace.xml
