/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/dump/backup__*
.env
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
.bash_history
/.cache
.rnd
